<template name="Stats">
    <div class="col-md-12"><h2>Stats</h2></div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul>
            <li><a href="{{pathFor 'MostPopular'}}">Most Popular</a></li>
            <li><a href="{{pathFor 'LongestCheckout'}}">Longest Checkout</a></li>
            <li><a href="{{pathFor 'LongestCheckoutTotal'}}">LongestCheckoutTotal</a></li>
            <li><a href="{{pathFor 'Oldest'}}">Oldest</a></li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</template>