<template name="Notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-bell {{#if notificationCount}}danger{{/if}}"></span>
        {{#if notificationCount}}
            <span class="badge badge-inverse danger">{{notificationCount}}</span>
        {{/if}}
        <b class="caret"></b>
    </a>
    <ul class="notification dropdown-menu">
        {{#if notificationCount}}
            {{#each notifications}}
                {{> Notification}}
            {{/each}}
        {{else}}
            <li><span>No Notifications</span></li>
        {{/if}}
    </ul>
</template>

<template name="Notification">
    <li>
        <a href="{{pathFor 'CheckedOutBooks'}}">
            The book <strong>"{{title}}"</strong> <em>by {{author}}</em> is overdue!
        </a>
    </li>
</template>