@import "custom.bootstrap.import.less";

.text-rotate(@deg: 45deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    writing-mode: lr-tb;
}

.main {
    margin-top: 70px;
}

ul.books {
    list-style: outside none none;
    
    .book {
        border: 3px solid @gray-lighter;
        box-shadow: 6px 4px 1px @gray-lighter;
        color: @gray;
        height: 190px;
        margin: 10px 0;
        padding: 10px;

        em {
            color: @gray-light;
        }

        &.overdue {
            color: @gray-lighter;

            em {
                color: @gray-lighter;
            }

            .overlay {
                .text-rotate();
                font-size: 18px;
                letter-spacing: 10px;
                margin-left: -28px;
                margin-top: -30px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
}

.danger {
    color: @brand-danger;
}
